			
			* {
				margin:0px;
				padding:0px;
			}
			
			
			ul, ol {
				list-style:none;
			}

			.submenu a {
				background-color:#000;
				color:white;
				text-decoration:none;
				padding:5px;
				display:block;
			}
			
			.submenu:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			