
html, body{
	margin: 0;
	padding: 0;
	border: 0;
}

.cabecera{
	left: 0px;;
	top: 0%;
	width:250px;
    left: 0%;
    position: absolute;
}

a{
	text-decoration:none;
}

li {
    -webkit-border-start: 6px solid transparent;
    -webkit-padding-start: 18px;
    -webkit-user-select: none;
    cursor: pointer;
    width: 139px;
    
}

ul {
	top: 85px;
    list-style-type: none;
    padding: 0;
    left: 0%;
    position: absolute;
	background-color: transparent;
}

button {
    background-color: white;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    color: #999;
    cursor: pointer;
    font: inherit;
    line-height: 1.417em;
    padding-left: 18px;
	outline:0;
	border-left-width: 6px;
	border-color:white;
  }
 button:hover{
 	border-color: #aaaaaa;
 }
 button:selected{
 	border-color: #aaaaaa;
 }

h1 {
    -webkit-margin-start: 23px;
    color: rgb(92, 97, 102);
    margin-bottom: 1em;
    margin-top: 21px;
}
h2 {
    color: rgb(92, 97, 102);
    margin: 0;
}
.lista{
	top: 2%;
	position: absolute;
	left: 15%;
	width:70%;
	height:70%;
	
}
hr {
    position: relative;
    height: 0;
    width: 1000px;
    border: 0;
    border-top: 1px solid #eee;
    top: 15px;
}
.search{
	position: relative;
	float: left;
}
.add{
	background-image: url(../images/add.png);
	width: 30px;
    height: 30px;
    background-size: 100%;
   	object-fit: cover;
    border-radius: 3px 3px 3px 3px;
    border:0;
    outline:0;
    background-repeat: no-repeat;
    position: relative;
    background-color:white;
    float: right;  
    margin-top: 10px;
}
.add:hover{
	background-color:#dddddd;
}
.papelera{
 	text-indent: -9999px; 
	background-image: url(../images/papelera.png);
	width: 30px;
    height: 30px;
    background-size: 100%;
   	object-fit: cover;
    border-radius: 3px 3px 3px 3px;
    border:0;
    outline:0;
    background-repeat: no-repeat;
    position: relative;
    background-color:white;
    float: right;
}
.papelera:hover{
	background-color:#dddddd;
}
.titulo{
    width: 150px;
	margin:0;
	position: relative;
	float:left;
}
.linea{
	bottom: 0;
}
.arriba{
	position:relative;
	top:0;
}
.list{
	position: relative;
	margin: 0;
	padding:0;
	width: 1000px;
	height:500px;
	
}
.op{
	padding: 20px;
	height: 30px;
	width: 900px;
}
.enumeracion{
	top:0;
}
.elemento{
	color-font:black;
}

.admin_actv, .admin_usuario, .admin_registros, .admin_mensaje, .admin_tags, .admin_comentarios, .admin_pagos, .admin_encuestas, .admin_respuestas, .admin_hitos, .admin_foros, .admin_novedades{
	margin-top:30px;
}

.marcar{
	cursor: pointer;
}
.desmarcar{
	cursor: pointer;
}
