
	#boton_buscar{
	float:right;
	background-image:url(../images/lupa.png);
	background-size: 40px 40px;
	background-repeat:no-repeat;
	background-position:center;
	height:50px;
	width:50px;
	border-radius:100%;
	margin-bottom:20px;
	cursor:pointer;
	object-fit:cover;
	}

	#buscar{
		margin-top:10px;
		height: 100%;
		clear:both;		
	}
	
	#buscar_1{
		border: 2px solid black;
		width:33%;
		float:left;
		border-radius:20px;	
	}
	
	#buscar_2{
		border: 2px solid black;
		width:33%;
		display: inline-block;
		border-radius:20px;				
	}
	
	#buscar_3{
		border: 2px solid black;
		width:33%;
		float:right;
		border-radius:20px;		
	}
	
	.cuadro_bus
	{
		margin-bottom: 8%;		
	}
	
	#resultados1, #resultado_buscar{
		margin-top:5px;
		height: 575px;	
	}
	
	#resultado_buscar{
	border:2px solid black;
	}
	
	#resultados2{
		display:none;
		margin-top:5px;
		height: 575px;
	}

	#actv_a{
		margin-bottom:20px;
	}

	#actv_amigos{
		display:none;
		border:2px solid black;
		border-radius:20px;	
		height:150px;
		margin-bottom: 20px;
		line-height:150px;
		overflow:auto;
	}
	
	.img_amigos{
		width:120px;
		height:120px;
		border-radius: 100px;
		vertical-align:middle;
		margin-right: 20px;
		margin-left:20px;
	}


	#cambio_modo{
		display:none;
	}
	input.switch:empty {
	    margin-left: -9999px;
	}
	input.switch:empty ~ label {
	    position: relative;
	    float: left;
	    line-height: 1.6em;
	    text-indent: 4em;
	    margin: 0.2em 0;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	input.switch:empty ~ label:before, input.switch:empty ~ label:after {
	    position: absolute;
	    display: block;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    content:' ';
	    width: 3.6em;
	    background-color: #c33;
	    border-radius: 0.3em;
	    box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
	    -webkit-transition: all 100ms ease-in;
	    transition: all 100ms ease-in;
	}
	input.switch:empty ~ label:after {
	    width: 1.4em;
	    top: 0.1em;
	    bottom: 0.1em;
	    margin-left: 0.1em;
	    background-color: #fff;
	    border-radius: 0.15em;
	    box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
	}
	input.switch:checked ~ label:before {
	    background-color: #393;
	}
	input.switch:checked ~ label:after {
	    margin-left: 2em;
	}
	
	
	#modo_lista
	{
		display:none;
		margin-top:5%;
		float:left;
	
	}
	
	#lista_actv td
	{
		padding-right: 50px;
	}
	
	/*CSS para busqueda de amigos*/
	
	#contenido{
		width: 1024px;
	}
	
	#cuadro_amigos{
		width:1024px;
	}
	
	#buscar_amigos{
	width:200px;
	height: 40px;
	}
	
	#boton_busca_amigos{
	height: 40px;
	margin:10px;
	}
	
	#bus_amigos{
		margin-top:20px;
	}
	
	
	
	
	
	
	
	
	