	#fotos{
		
		height:800px;
	}
	.i_actv, .img_desc{
		/*object-fit: cover;	*/	
		width:100px;
		height:100px;
		border-radius:500px;
		/*border: 2px solid black;*/
		margin:0px;
	}
	
	
	#actividad{
	 font-size: 10px;
	 font-family: sans-serif;
	 line-height:3px;
	 font-weight: bold;
	}
	
	#filtro_MisActividades{
		border:2px solid black;
		width:800px;
		height:50px;
		/*margin:20px;*/
	}
	
	#cajaA{
		margin: 10px;
		float: center;
	}
	
	#encMisAct{
	text-align: center;
	
	}

	.img_thumb{
	display: block;
	float: left;
	position: relative;
	top: 50px;
    padding: 10px 10px 10px 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 35px;
	transition: 1.0s ease;
 	-moz-transition: 1.0s ease; /* Firefox */
 	-webkit-transition: 1.0s ease; /* Chrome - Safari */
 	-o-transition: 1.0s ease; /* Opera */
}


			 /*  capa hover con la descripcion de cada miniatura */
.img_desc{   /*aplicar tb propiedad de i_act a este para la forma radial*/
   
    position: absolute;
    background-color: white;
    opacity: 0.7;
    padding: 40px 5px 5px 5px;
    display: none;
	transition: 1.5s ease;
 	-moz-transition: 1.5s ease; /* Firefox */
 	-webkit-transition: 1.5s ease; /* Chrome - Safari */
 	-o-transition: 1.5s ease; /* Opera */
	
	}

.img_thumb:hover{		
		transform : scale(1.5);
		-moz-transform : scale(1.5); /* Firefox */
		-webkit-transform : scale(1.5); /* Chrome - Safari */
		-o-transform : scale(1.5); /* Opera */
		-ms-transform : scale(1.5); /* IE9 */
		}
	