#contenido {
	width: 1030px;
	height: 1500px;
	margin: 0 auto;
}

#opciones_actv {
	float: left;
	margin-top: 20px;
}

#btones_actv {
	margin: 45px;
	margin-top: 0px;
	width: 100px;
}

#info_actv{
    left: 60px;
    margin-right: 10px;
	position:relative;
    float:left;
    margin-top: 50px;
    margin-left: 10px;  
    width: 33%;
}

#nombre_actv {
	text-align: center;
	font-size: 3em;
	margin-bottom:20px;
}

.dato_actv{
	text-align: center;
	
}

#i_actv {
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 500px;
	margin: 30px;
	vertical-align: middle;
}

#gente_actv{
	float: right;
	margin-top: 50px;

}

#gente_apuntada{
	
	overflow-y: scroll;
    height: 300px;
}

#desc_actv{
	
	border:1px solid black;
	padding:10px;
}

#descripcion{
	margin-top:80px;
}

#descripcion p{
	text-align:center;
}

.movimiento{
	width: 1080px;
	height: 700px;
	padding-top: 700px;
}

.foro_actv {
	overflow-y:scroll;
	height: 700px;
 }

.encuestas_actv { 
  	overflow-y:scroll;
   	height: 700px;
	width: 530px;
	float: right;
 	
 }
 
 .comentar_actv{
 margin-top: 20px;
 	
 }
 
 .foro_container{
 position: relative;
float: left;
height: 700px;
width: 530px;
 }
 
 #bloque_foro{
 
 position: absolute;
 }

/* .privacidad_actividad { */
/* 	clear: left; */
/* 	margin: 10px 10px; */
/* 	color: silver; */
/* } */

/* .fecha_actv { */
/* 	clear: left; */
/* 	margin: 10px 10px; */
/* } */

/* .zona_actv { */
/* 	clear: left; */
/* 	margin: 10px 10px; */
/* } */

/* .descripcion_actv { */
/* 	margin: 30px 50px; */
/* 	clear: left; */
/* 	padding-top: 50px; */
/* } */

/* .foro_actv { */
/* 	margin: 10px 100px; */
/* 	border-radius: 50px; */
/* 	background: rgba(253, 253, 253, 0.5); */
/* } */

/* .m_actv { */
/* 	margin: 40px 250px; */
/* 	background: #fafafa; */
/* 	border-radius: 50px; */
/* } */

/* .mensajes_actv { */
/* 	display: inline; */
/* } */



/* .s_actv { */
/* 	float: left; */
/* } */


/* #datos_actv { */
/* 	float: left; */
/* } */

/* #gente_actv { */
/* 	width: 400px; */
/* 	height: 400px; */
/* 	float: right; */
/* } */