	.s_perfil{
		float: left;	
	}

	.mod_perfil{
		display:none;
		width:400px;
		margin:0 auto;

	}
	.mi_perfil
	{
		width:400px;
		margin:0 auto;
	}
	
	#opciones_perfil{
		
		width:400px;
		margin:0 auto 15 auto;
	}
	
	.info_perfil{
		
	}
	
	
	#i_perfil
	{
		object-fit: cover;
		width:250px;
		height:250px;
		border-radius:500px;
		margin:30px;
		vertical-align: middle;

	}

	#amigos{
		float: right;
		text-align: center;

	}

	.historial_actv{
		background-color: white;
		width:1200px;
		height:400px;

	}
	.campos_Perfil{
		margin: .4em 0;	
	}
	.campos_Perfil label {
		width:35%;
  		float: left;
	}
	
	.campos_Perfil input {
		width:180px;
		border-radius:10px;
	}
	
	.actualizar
	{
		padding-top:10px;
		width: 200px;
 		margin: 0 auto;
	}
	.activ_Perfil{
		margin-top:20px;
	}

	
	#datos_perfil{
		position:relative;
		top: 20px;
	}